
body {
	
	background: linear-gradient(to right, #CCAEFC, #CCC0FC);

	
}

.root {
	font-size: larger;
}


.dropdown-menu {
	background-color: #9BD96F;

}

@font-face {
    font-family:Faster One; 
    src: url(FasterOne-Regular.ttf); 
   }

header {
	font-family: Faster One;
}

.media-body {
	background-color: #858F7F;
}

.card {
	background-color: #c8dbd7;
	border: 2px solid black;
    
}

.track {
	text-align: center;
}

.feed-header {
	background-color: #688E99;
}

.feed-body {
	background-color: #E3D8AC;
}
