{% extends 'layout/basic.html' %}
{% load thumbnail %} 
{% load bootstrap4 %}
{% load static %}

{% block title %}Пилоты{% endblock %}

{% block content %}

    <h2>Пилоты</h2>



<div class="d-flex justify-content-space-evenly">
    {% for driver in drivers %}
      
            <div class="card" style="width: 18rem;">
            <img src="{{ driver.image.url }}" class="card-img" alt="<>">
            <div class="card-body">
              <h5 class="card-title">Название карточки</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
            </div>
          </div>
    {% endfor %}
 </div>   


<nav aria-label="...">
        <ul class="pagination pagination-sm">

          {% if page.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page.previous_page_number }}">{{ page.previous_page_number}}</a>
            </li>
          {% endif %}

          <li class="page-item active" aria-current="page">
            <span class="page-link">
              Страница {{ page.number }} из {{ page.paginator.num_pages }}
              <span class="sr-only">{{ page.number }}</span>
            </span>
          </li>

          {% if page.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
            </li>
          {% endif %}

        </ul>
</nav>           




   
{% endblock %}



