{% extends 'layout/basic.html' %}
{% load thumbnail %} 
{% load bootstrap4 %}
{% load static %}

{% block content %}
<h2>Гонщики</h2>
{% for driver in drivers %}
    <div class="media-body">
    	<h3>
    		<a href="{% url 'main:driver_detail' pk=driver.pk %}">
    	{{ driver.first_name }} {{ driver.last_name }}</h3>
    		</a>
	  	<img class="mr-3" src="{% thumbnail driver.image 'default' %}" >
	 	<ul>
		    <li>Дата рождения: {{ driver.date_of_birth }}</li>
		    <li>Страна: {{ driver.country }}</li>
		    <li>Команда: {{ driver.team }}</li>


	  	</ul>
    </div>
{% endfor %}
{% endblock %}