{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Новости{% endblock %}


{% block content %}

	<div class="layer1">
		{% for post in posts %}
			<div class="feed ">
		  		<div class="feed-header">
					<h2>{{ post.title }}</h2>
				</div>

				<div class="feed-body">
			    	<blockquote class="blockquote mb-0">
			      	<p>{{ post.content }}</p>
			      	<footer class="blockquote-footer"><p>{{ post.author }} <p>{{ post.created_at }}</p> </p> </cite></footer>
			    	</blockquote>
				</div>
			</div>	
		{% endfor %}
	</div>

	<div class="layer2">
		<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Очки</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry </td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td colspan="2">Larry </td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td colspan="2">Larry</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td colspan="2">Larry</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td colspan="2">Larry </td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td colspan="2">Larry </td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    

  </tbody>
</table>

	</div>


	<div class="clear"></div>
{% endblock %}

