{% extends 'layout/basic.html' %}
{% load thumbnail %} 
{% load bootstrap4 %}
{% load static %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<h2 class="mb-2">{{ team.name }}</h2>
<div>
	<ul>
		<li>{{ team.country }}</li>
		<li>{{ team.debut_in_f1 }}</li>
	</ul>
</div>

{% if drivers %}
<ul class="list-unstyled">
	{% for driver in drivers %}
	<<div class="container-fluid mt-3">
		<div class="row">
			<div class="col-md-auto">
				<img src="{{ driver.image.url }}" class="main-image">
			</div>	

			<div class="col">
				<h2><a href="{% url 'main:driver_detail' pk=driver.pk %}">
					{{ driver.first_name }} {{ driver.last_name }}</a>
				</h2>
				<p>Дата рождения: {{ driver.date_of_birth }}</p>
				<p>Страна: {{ driver.country }}</p>
				<p>Команда: {{ driver.team }}</p>
			</div>
		</div>
	</div>

	{% endfor %}
{% endif %}
{% endblock %}




